/*=================
TYPOGRAPHY SETTINGS
=================*/

/* Color Variables */
:root {
  --background: #f8f8ff;
  --parchment: #D6CCA9;
  --header: #f8f8ff;
  --text: #000000;
  }

/* Font Family and Font sizes */
* {
  font-family: 'Manrope', sans-serif, Helvetica, Arial, Verdana
}

body {
  background-color: #f8f8ff;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  color: var(--header);
  text-shadow: 2px 2px 4px #000000;
}

p {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

ul {
  text-align: left;
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  line-height: 2rem;
}

/* Classes for special formatting cases*/

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
  }

.img-shadow {
  box-shadow: 5px 5px 10px gray;
}

.row-reverse {
  flex-direction: row-reverse;
}

.super-padding {
  padding: 10%;
}

/*==============
HOME PAGE STYLES
==============*/

.banner_home {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("../img/coffee_shop_outside.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 4rem;
  width: 100%;
}

.cta-container {
  margin-top: 2rem;
}

#menu {
  margin-top: 8rem;
}

.banner_food {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("../img/pastry_case.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 6rem;
  width: 100%;
}

.banner_events {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("../img/live_music.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 6rem;
  width: 100%;
}

/*===========
MEDIA QUERIES
===========*/

@media only screen and (min-width: 992px) {
  /* Gives the home_banner more padding on larger screens. */
  .banner_home {
    padding: 8rem;
    margin-bottom: 4rem;
  }

}
