/***********************************
UNIVERSAL STYLES FOR ALL KOALA pages
***********************************/
* {
  z-index: 0;
}

body {
  background-color: #333333;
}

/* HEADING STYLES */
.topHeading {
  border-bottom: solid 1px white;
  color: #DEAE30;
}

h1, h2 {
  font-family: Manrope, Helvetica, Arial, Verdana; /*CUSTOM FONT HERE*/
  color: white;
}

p,
ol,
ul {
  font-family: Arial, Verdana, Tahoma;
  color: #F5F5F5;
}

/* NAVIGATION BAR */

#mainNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5F5F5;
}

#mainNav li {
  float: left;
}

li .navLink {
  display: block;
  font-size: 1.1rem;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.navLink:hover {
  background-color: #DEAE30;
  color: black;
}

/* MAIN CONTENT */
.topBanner {
  width: 100%;
}

.headerContainer {
  width: 75%;
  padding: 20px 25px 20px 25px;
  margin: auto;
}

#basicImg {
  object-fit: contain;
  width: 350px;
}

.basicContentContainer {
  border: solid red 2px;
  width: 70%;
  margin: auto;
  padding: 20px 50px 20px 50px;
}

p em {
  color: #DEAE30;
}

.paragraphContainer {
  /* padding: 0px 30px 30px 30px; */
}

/* .floatImgLeft {
  float: left;
}

.floatImgRight {
  float: right;
} */

.copyrightContainer {
  display: flex;
  align-items: center;
}

.smallLogo {
  width: 75px;
  display: inline;
}
