/* UNIVERSAL STYLES */

/* Color Variables */
:root {
  --background: #732C1A;
  --parchment: #D6CCA9;
  --header: #f8f8ff;
  --text: #000000;
  }

body {
  background-color: var(--background);
  font-family: 'Garamond', Helvetica, Arial, Verdana;
}

.main-content-styles {
  background-color: var(--parchment);
  padding: 5%;
}

/* Heading Styles and Colors */
h1, h2, h3 {
  color: var(--text);
}

.header {
  color: var(--header);
  font-weight: bold;
}

img {
  width: 100%;
}
/*=============
NAVIGTAION MENU
=============*/
.nav-link {
  font-size: 1.3rem;
}

.banner {
  background-image: url("../DnD Site/IMG/lost mines.jpg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 8rem;
  width: 100%;
}
